Теория:

5.Series:
https://docs.google.com/presentation/d/1v106Xm0YkQKV7FSm9UPMlMDnwZLnwFJujDitCnvtIYA/edit#slide=id.ge50f063c5b_0_0

6.DataFrame:
https://docs.google.com/presentation/d/1gHoqP0cvaQp7G-6A42_yYEMABm0GOS4JWHEqUojXaiA/edit#slide=id.ge21ea809d3_0_240

7.Вычисление описательных статистик:
https://docs.google.com/presentation/d/11jZcO_BakFZyfa_6VC-LvzdWK9gYPLd-J8ZFnnnaenM/edit#slide=id.ge226d84994_0_95

# Задание 2. Футболисты

В [датасете](https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv) присутствуют различные данные о футболистах, среди которых:

- Имя (Name),
- Возраст (Age),
- Национальность (Nationality),
- Клуб, за который они играют (Club),
- Стоимость (Value),
- Годовая заработная плата (Wage),
- Позиция, на которой они играют (Position),
- Различные игровые характеристики (Crossing, Finishing, HeadingAccuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes),
- Также присутствует системная колонка с номером строки.

Полное описание всех полей находится в файле по [ссылке](https://github.com/dm-fedorov/pandas_basic/blob/master/data/football_about.txt).

Данные содержат в себе информацию о 12897 футболистах и их характеристиках.

```Python
pd.read_csv('Полный_путь_к_файлу/название_файла.csv')
```

Функция возвращает `DataFrame` (таблицу), однако затем принимает ещё много важных параметров, среди которых:

- `sep` — разделитель данных, по умолчанию `','`;
- `decimal` — разделитель числа на целую и дробную часть, по умолчанию `'.'`;
- `names` — список с названиями колонок, не обязательный параметр;
- `skiprows` — если файл содержит системную информацию, можно просто её пропустить.

Дополнительные параметры можно посмотреть в [официальной документации](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

Часто после чтения данных с помощью `read_csv()` хочется убедиться в правильности чтения или, к примеру, посмотреть, что лежит в наборе данных.

Для этого используются методы `.head()` или `.tail()`, которые показывают первые или последние 5 строк таблицы. Количество строк можно менять параметром `n`, передаваемым в функцию.

Посмотрим, как они работают, на примере уже запомнившегося нам набора данных о футболистах:

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

In [6]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

Метод `describe` показывает основные статистические характеристики данных по каждому числовому признаку (типы `int64` и `float64`): число непропущенных значений, среднее, стандартное отклонение, диапазон, медиану, `0.25` и `0.75` квантили.

In [7]:
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

Здесь для каждого числового (`int64`) столбца показано число непустых значений (`count`), среднее (`mean`), стандартное отклонение (`std`), минимум и максимум (`min` и `max`), `25%` и `75%` квантили и медиана (`50%`).

Чтобы посмотреть статистику по нечисловым признакам (например, по строчным (`object`) или булевым (`bool`) данным), нужно явно указать интересующие нас типы в параметре `include` метода `describe`:

In [8]:
football.describe(include=['object'])

                Name Nationality              Club Position
count          12897       12897             12897    12897
unique         12326         156               650       27
top     J. Rodríguez     England  V-Varen Nagasaki       GK
freq               9        1368                30     1641

Здесь для каждой колонки с типом `object` (строчные данные) выводится количество непустых строк (count), уникальных значений (unique), самое частое значение (`top`) и частота этого значения (`freq`).

Для вычисления отдельных статистических параметров `DataFrame` можно использовать не только метод `.describe()`, но и отдельные методы для каждого параметра:

|Метод   | Статистический параметр  |
|---|---|
|.max()|Максимум  |
|.min()|Минимум   |
|.mean()|Среднее значение   |
|.sum()| Сумма  |
|.count()|Количество непустых элементов   |
|.std()|Стандартное отклонение   |

Если один из этих методов применить ко всему `DataFrame`, то в результате его работы будет получен объект типа `Series`. В случае применения метода к отдельному столбцу, результатом вычислений станет число (среднее значение элементов столбца, минимум, максимум и т.п.).

В каждый метод можно передать некоторые параметры, среди которых:

- `axis` — определяет, подсчитывать максимум по строкам (1) или по столбцам (0) (по умолчанию 0);
- `numeric_only` — определяет, вычислять параметры только по числовым столбцам/строкам или нет (`True/False`). Если передать `False` в методы `.mean()` или `.std()`, компилятор выдаст ошибку.

Пример применения:

In [9]:
df = pd.DataFrame([[i, i + 1.2, i + 2, 'hi'] for i in range(10)],
                  columns=['foo', 'bar', 'baz', 'foobar'])
df

   foo   bar  baz foobar
0    0   1.2    2     hi
1    1   2.2    3     hi
2    2   3.2    4     hi
3    3   4.2    5     hi
4    4   5.2    6     hi
5    5   6.2    7     hi
6    6   7.2    8     hi
7    7   8.2    9     hi
8    8   9.2   10     hi
9    9  10.2   11     hi

In [10]:
df.foo

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: foo, dtype: int64

In [11]:
df['foo']

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: foo, dtype: int64

Как мы помним, колонки в `DataFrame` представляют собой `Series`, поэтому к ним можно применять методы `.max()`, `.std()` и другие.

In [12]:
df.bar.mean()

5.7

Для следующего блока задач потребуется открыть уже известный набор данных о футболистах.

### Задача 1

Чему равен средний возраст (`Age`), футболистов в наборе данных, округлённый до целого?

In [13]:

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

average_age = round(football['Age'].mean())
print("Средний возраст футболистов:", average_age)

Средний возраст футболистов: 25

### Задача 2

Каково количество непустых строк в колонке `Composure` (Хладнокровие) набора данных о футболистах?

In [14]:

composure_count = football['Composure'].count()
print("Количество непустых строк в колонке 'Composure':", composure_count)

Количество непустых строк в колонке 'Composure': 12897

### Задача 3

Каково в наборе данных о футболистах стандартное отклонение параметра коротких пасов (`ShortPassing`), округлённое до второго знака после запятой?

In [15]:
short_passing_std = round(football['ShortPassing'].std(), 2)
print("Стандартное отклонение параметра коротких пасов (ShortPassing):", short_passing_std)

Стандартное отклонение параметра коротких пасов (ShortPassing): 14.74

### Задача 4

Какова сумма заработных плат за год (`Wage`) в наборе данных о футболистах?

In [16]:
total_wage = football['Wage'].sum()
print("Сумма заработных плат за год (Wage):", total_wage)

Сумма заработных плат за год (Wage): 96954000

### Задача 5

Какова минимальная стоимость футболиста (`Value`) в наборе данных о футболистах?

In [17]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

min_value = football['Value'].min()
print("Минимальная стоимость футболиста (Value):", min_value)

Минимальная стоимость футболиста (Value): 0

Далее выведу значения Value, чтобы проверить, что есть минимальная стоимость размером 0.

In [18]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

unique_values = football['Value'].unique()
print("Уникальные значения стоимости футболистов (Value):\n", unique_values)

Уникальные значения стоимости футболистов (Value):
 [110500000  77000000 118500000  72000000 102000000  93000000  67000000
  80000000  51000000  68000000  76500000  44000000  60000000  63000000
  89000000  83500000  78000000  58000000  53500000  51500000  38000000
  64500000  27000000  81000000  69500000  59500000  62000000  73500000
  59000000  46000000  43000000  36000000  57000000  24000000  30000000
   4000000  64000000  30500000  62500000  52000000  45000000  34000000
  46500000  61000000  41500000  44500000  56500000  53000000  50000000
  55000000  36500000  45500000  43500000  35000000  39000000  18000000
  21500000  50500000  54000000  40500000  37500000  28500000  37000000
  32000000  26000000  33000000  38500000  35500000   9000000  15500000
  22000000  14000000  42500000  42000000  25000000  31000000  29000000
  23000000  19000000  40000000  41000000  28000000  34500000  32500000
  20000000  21000000  13000000   8000000   6000000  17000000  15000000
   3000000  16000000  10000000  11000000   7000000  12000000  20500000
   2000000   1000000   5000000   9500000         0    600000  22500000
   8500000  17500000    525000    900000  10500000    450000   5500000
   7500000    775000    650000    750000    375000    270000    950000
   3200000    550000    975000    725000    425000    210000    875000
    675000   2100000    325000    800000    850000    160000   3300000
   1300000    120000    825000    925000    625000    240000    500000
    575000   1900000    200000   1700000    250000    700000    350000
    475000    300000     70000    140000    230000   1800000   2500000
   2200000   4200000    400000  13500000   4100000   1200000   3900000
   3600000     60000   1400000    260000   6500000  29500000   1100000
  24500000   1600000   1500000    180000    100000    220000     50000
   2900000   2400000   2300000    290000     90000   4300000    150000
   3500000     40000  14500000   2700000  11500000   2600000   3700000
    280000   4900000    130000   3100000  18500000    190000    170000
   4700000   4800000    110000     30000     80000   4400000   2800000
     20000   3400000   3800000   4600000     10000  25500000   4500000]

Часто возникает необходимость выбрать данные из `DataFrame` по определённому условию. Например, если в уже известном нам наборе данных о футболистах мы хотим выбрать только тех, у кого возраст больше 20 лет, используется следующий код:

In [19]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"
football = pd.read_csv(url)

In [20]:
football[football.Age > 20]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12838,13067,D. Mackay,21,Scotland,Kilmarnock,30000,1000,GK,14,20,...,24,30,12,18,18,48,50,47,48,48
12857,13086,Wu Lei,21,China PR,Tianjin Quanjian FC,9000000,2000,LDM,52,29,...,46,39,52,40,49,8,15,11,8,5
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12870,13099,M. Hurst,22,Scotland,St. Johnstone FC,40000,1000,GK,19,15,...,29,28,12,15,16,45,49,50,50,45
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

Синтаксис этой конструкции достаточно прост. Внутри квадратных скобок передается список из `True` или `False`, который показывает, какие строки `DataFrame` нужно оставить, а какие убрать. Этот список генерируется сравнением `Series` `football.Age` с 20.

Можно для фильтрации использовать и методы получения статистических параметров. Например, если нам нужны только те футболисты, возраст которых больше среднего возраста футболистов, можно использовать следующую конструкцию:

In [21]:
football[football.Age > football.Age.mean()]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12746,12975,Teng Shangkun,27,China PR,Tianjin TEDA FC,20000,1000,GK,10,8,...,17,58,28,10,13,46,56,55,45,53
12749,12978,M. Mansour,26,Saudi Arabia,Al Batin,30000,2000,LB,36,18,...,33,37,45,54,54,10,8,6,13,13
12767,12996,Sun Qibin,26,China PR,Tianjin Quanjian FC,20000,2000,GK,14,7,...,12,30,46,11,10,50,46,51,48,50
12861,13090,Y. Uchimura,33,Japan,Hokkaido Consadole Sapporo,20000,1000,CAM,51,31,...,33,62,45,48,42,13,15,7,15,15
12873,13102,K. Pilkington,44,England,Cambridge United,0,1000,GK,11,12,...,22,56,15,15,13,45,48,44,49,46

Условия можно и комбинировать, используя операторы `&` (логическое и) и `|` (логическое или). Условия при этом заключаются в скобки. Например, если мы хотим получить только тех футболистов, у которых возраст меньше среднего, или игроков `'FC Barcelona'`:

In [22]:
football[(football.Age < football.Age.mean())|
         (football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
7,7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS,77,93,...,85,85,62,45,38,27,25,31,33,37
15,15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF,82,84,...,86,84,23,20,20,5,4,4,5,8
16,16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST,75,94,...,90,89,56,36,38,8,10,11,14,11
18,18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK,15,14,...,25,69,25,13,10,87,85,88,85,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

Статистические параметры можно посчитать и по отфильтрованному `DataFrame`, например среднюю заработную плату футболистов с возрастом меньше среднего и из `'FC Barcelona'`:

In [23]:
football[(football.Age < football.Age.mean())&
         (football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

Здесь мы получили среднюю заработную плату за год футболистов с возрастом ниже среднего или из клуба FC Barcelona.

### Задача 6
Какова средняя скорость (`SprintSpeed`) футболистов, зарплата (`Wage`) которых выше среднего? Ответ округлите до сотых.

In [24]:
# Найти среднюю зарплату футболистов
average_wage = football['Wage'].mean()

# Отфильтровать футболистов с зарплатой выше среднего
above_average_wage_players = football[football['Wage'] > average_wage]

# Для отфильтрованных футболистов вычислить среднюю скорость
average_sprint_speed = above_average_wage_players['SprintSpeed'].mean()

print("Средняя скорость футболистов с зарплатой выше среднего:", round(average_sprint_speed, 2))

Средняя скорость футболистов с зарплатой выше среднего: 67.57

### Задача 7

Какова средняя скорость (`SprintSpeed`) футболистов, зарплата (`Wage`) которых ниже среднего? Ответ округлите до сотых.

In [25]:

# Найти среднюю зарплату футболистов
average_wage = football['Wage'].mean()

# Отфильтровать футболистов с зарплатой ниже среднего
below_average_wage_players = football[football['Wage'] < average_wage]

# Для отфильтрованных футболистов вычислить среднюю скорость
average_sprint_speed = below_average_wage_players['SprintSpeed'].mean()

print("Средняя скорость футболистов с зарплатой ниже среднего:", round(average_sprint_speed, 2))

Средняя скорость футболистов с зарплатой ниже среднего: 62.41

### Задача 8

Какую позицию (`Position`) занимает футболист с самой высокой зарплатой (`Wage`)?

In [26]:
# Найти индекс строки с максимальной зарплатой
max_wage_index = football['Wage'].idxmax()

# Получить позицию футболиста с самой высокой зарплатой
position_highest_wage = football.loc[max_wage_index, 'Position']

print("Позиция футболиста с самой высокой зарплатой:", position_highest_wage)

Позиция футболиста с самой высокой зарплатой: RF

### Задача 9

Сколько пенальти (`Penalties`) забили бразильские (`Nationality, Brazil`) футболисты за период, данные о котором представлены в датасете?

In [27]:
# Отфильтровать данные для бразильских футболистов
brazilian_players = football[football['Nationality'] == 'Brazil']

# Посчитать сумму значений в столбце "Penalties" для отфильтрованных данных
penalties_scored_by_brazilian_players = brazilian_players['Penalties'].sum()

print("Количество пенальти, забитых бразильскими футболистами:", penalties_scored_by_brazilian_players)

Количество пенальти, забитых бразильскими футболистами: 22789

### Задача 10

Укажите средний возраст (`Age`) игроков, у которых точность удара головой `(HeadingAccuracy) > 50`. Ответ округлите до сотых.

In [28]:
players_heading_accuracy_above_50 = football[football['HeadingAccuracy'] > 50]
average_age_heading_accuracy_above_50 = players_heading_accuracy_above_50['Age'].mean()

print("Средний возраст игроков с точностью удара головой > 50:", round(average_age_heading_accuracy_above_50, 2))

Средний возраст игроков с точностью удара головой > 50: 25.59

### Задача 11

Укажите возраст (`Age`) самого молодого игрока, у которого хладнокровие (`Composure`) и реакция (`Reactions`) превышают 90% от максимального значения, представленного в датасете.

In [29]:
max_composure = football['Composure'].max()
max_reactions = football['Reactions'].max()

# Найти 90% от максимальных значений "Composure" и "Reactions"
threshold_composure = max_composure * 0.9
threshold_reactions = max_reactions * 0.9

# Отфильтровать игроков, у которых хладнокровие и реакция превышают найденные пороговые значения
filtered_players = football[(football['Composure'] > threshold_composure) & (football['Reactions'] > threshold_reactions)]

# Найти самого молодого игрока из отфильтрованных данных
youngest_player = filtered_players.loc[filtered_players['Age'].idxmin()]

print("Возраст самого молодого игрока с хладнокровием и реакцией > 90% максимального значения:", youngest_player['Age'])

Возраст самого молодого игрока с хладнокровием и реакцией > 90% максимального значения: 24

### Задача 12

Определите, насколько средняя реакция (`Reactions`) самых взрослых игроков (т.е. игроков, чей возраст (`Age`) равен максимальному) больше средней реакции самых молодых игроков. Ответ округлите до сотых.

In [30]:
# Найти максимальный возраст среди всех игроков
max_age = football['Age'].max()

oldest_players = football[football['Age'] == max_age]

youngest_players = football[football['Age'] == football['Age'].min()]

# Вычислить среднюю реакцию для каждой группы игроков
average_reactions_oldest = oldest_players['Reactions'].mean()
average_reactions_youngest = youngest_players['Reactions'].mean()

# Найти разницу между средней реакцией самых взрослых игроков и самых молодых игроков
reaction_difference = average_reactions_oldest - average_reactions_youngest

print("Разница между средней реакцией самых взрослых и самых молодых игроков:", round(reaction_difference, 2))

Разница между средней реакцией самых взрослых и самых молодых игроков: 22.64

### Задача 13

Из какой страны (`Nationality`) происходит больше всего игроков, чья стоимость (`Value`) превышает среднее значение?

In [31]:
# Найти среднее значение стоимости всех игроков
average_value = football['Value'].mean()

# Отфильтровать игроков, чья стоимость превышает среднее значение
high_value_players = football[football['Value'] > average_value]

# Посчитать количество игроков из каждой страны в отфильтрованных данных
nationality_counts = high_value_players['Nationality'].value_counts()

# Определить страну с наибольшим количеством игроков
most_players_nationality = nationality_counts.idxmax()

print("Страна с наибольшим количеством игроков, чья стоимость превышает среднее значение:", most_players_nationality)

Страна с наибольшим количеством игроков, чья стоимость превышает среднее значение: Spain

### Задача 14

Определите, во сколько раз средняя зарплата (`Wage`) голкипера (`Position, GK`) с максимальным значением показателя "Рефлексы" (`GKReflexes`) выше средней зарплаты голкипера с максимальным значением показателя "Владение мячом" (`GKHandling`). Ответ округлите до сотых.

In [32]:
# Найти максимальное значение показателя "Рефлексы" среди голкиперов
max_reflexes_value = football[football['Position'] == 'GK']['GKReflexes'].max()

# Найти максимальное значение показателя "Владение мячом" среди голкиперов
max_handling_value = football[football['Position'] == 'GK']['GKHandling'].max()

# Зарплата голкипера с максимальным значением показателя "Рефлексы"
average_wage_max_reflexes = football[(football['Position'] == 'GK') & (football['GKReflexes'] == max_reflexes_value)]['Wage'].mean()

# Определить среднюю зарплату голкипера с максимальным значением показателя "Владение мячом"
average_wage_max_handling = football[(football['Position'] == 'GK') & (football['GKHandling'] == max_handling_value)]['Wage'].mean()

wage_ratio = average_wage_max_reflexes / average_wage_max_handling

print("Отношение средней зарплаты голкипера с максимальным значением показателя 'Рефлексы' к средней зарплате голкипера с максимальным значением показателя 'Владение мячом':", round(wage_ratio, 2))

Отношение средней зарплаты голкипера с максимальным значением показателя 'Рефлексы' к средней зарплате голкипера с максимальным значением показателя 'Владение мячом': 2.77

### Задача 15

Определите, во сколько раз средняя сила удара (`ShotPower`) самых агрессивных игроков (игроков с максимальным значением показателя "Агрессивность" (`Aggression`)) выше силы удара игроков с минимальной агрессией. Ответ округлите до сотых.

In [33]:

max_aggression = football['Aggression'].max()
min_aggression = football['Aggression'].min()

max_aggression_players = football[football['Aggression'] == max_aggression]
min_aggression_players = football[football['Aggression'] == min_aggression]

average_shot_power_max_aggression = max_aggression_players['ShotPower'].mean()
average_shot_power_min_aggression = min_aggression_players['ShotPower'].mean()

# Рассчитать отношение средней силы удара самых агрессивных игроков к средней силе удара самых мирных игроков
shot_power_ratio = average_shot_power_max_aggression / average_shot_power_min_aggression

print("Отношение средней силы удара самых агрессивных игроков к средней силе удара самых мирных игроков:", round(shot_power_ratio, 2))

Отношение средней силы удара самых агрессивных игроков к средней силе удара самых мирных игроков: 2.08