Теория:

15.Временные ряды:
https://docs.google.com/presentation/d/11GPbdiDbNtaPtQNmMrb460Fa2Qf6D4sGCDPhsGUyeqw/edit#slide=id.ga143ff96a3_0_71

# Задание 12. Про депутатов

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df

,name,lastname,otchestvo,gender,birthdate,start,end,district
0,Ефимов,Виталий,Борисович,м,04.04.1940,18.09.2016,NaN,Мордовский
1,Максимова,Надежда,Сергеевна,ж,13.01.1942,18.09.2016,NaN,Хакасский
2,Мищеряков,Юрий,Николаевич,м,01.01.1945,18.09.2016,NaN,Оренбургский
3,Борцов,Николай,Иванович,м,08.09.1945,18.09.2016,NaN,Липецкий
4,Гончар,Николай,Николаевич,м,18.10.1946,18.09.2016,NaN,Центральный
...,...,...,...,...,...,...,...,...
206,Федяев,Павел,Михайлович,м,31.07.1982,18.09.2016,NaN,Заводский
207,Романов,Михаил,Валентинович,м,03.11.1984,18.09.2016,NaN,Юго-Восточный
208,Грибов,Александр,Сергеевич,м,22.05.1986,18.09.2016,NaN,Ярославский
209,Прокопьев,Александр,Сергеевич,м,05.08.1986,18.09.2016,NaN,Бийский
210,Шипулин,Антон,Владимирович,м,21.08.1987,08.09.2019,NaN,Серовский

### Задача 1

Определите средний возраст депутатов.

In [2]:
from datetime import datetime

df['birthdate'] = pd.to_datetime(df['birthdate'], format='%d.%m.%Y')
current_date = datetime.now()
df['age'] = df['birthdate'].apply(
    lambda x: current_date.year - x.year - ((current_date.month, current_date.day) < (x.month, x.day)))
round(df['age'].mean(), 1)

59.6

### Задача 2

Определите гендерное процентное соотношение состава депутатов

In [3]:
df['gender'].value_counts(normalize=True) * 100

gender
м    84.834123
ж    15.165877
Name: proportion, dtype: float64