# Задание 5. Студенты

В [файле](https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat) следующие поля:
    
- *gender* — пол абитуриента;
- *race/ethnicity* — национальность (зашифрована в виде значений "Group A", "Group B" и т.д.);
- *parental level of education* — уровень образования родителей;
- *lunch* — насколько качественно пообедал абитуриент перед тестом;
- *test preparation course* — закончил ли абитуриент подготовительные курсы;
- *math score* — оценка по математике;
- *reading score* — оценка по чтению;
- *writing score* — оценка по письму.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/dm-fedorov/python_basic/master/data/students.stat")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Задача 1

Считаем девочек и мальчиков.

In [3]:
# Считаем количество девочек и мальчиков
gender_counts = df['gender'].value_counts()

# Выводим результат
print("Количество девочек и мальчиков:")
print(gender_counts)

Количество девочек и мальчиков:
gender
female    518
male      482
Name: count, dtype: int64

## Задача 2

У скольких абитуриентов родители имеют диплом бакалавра (bachelor's degree)?

Ответ в виде целого числа.

In [4]:
# Подсчет количества абитуриентов, у которых родители имеют диплом бакалавра
bachelors_count = df[df['parental level of education'] == "bachelor's degree"].shape[0]

print(bachelors_count)

118

## Задача 3

Сколько разных вариантов значений встречается в столбце "parental level of education"?

Ответ в виде целого числа.

In [5]:
unique_education_levels = df['parental level of education'].nunique()

print(unique_education_levels)

6

## Задача 4

Сколько процентов абитуриентов полноценно пообедали перед экзаменом? (У скольких процентов абитуриентов значение столбца "lunch" = "standard").

Ответ в виде десятичной дроби.

In [6]:
total_students = len(df)
standard_lunch_count = len(df[df['lunch'] == 'standard'])

percentage_standard_lunch = standard_lunch_count / total_students

print("{:.2f}".format(percentage_standard_lunch))

0.65

## Задача 5

Сколько абитуриентов относится к этнической группе "group C"?

Ответ в виде целого числа.

In [7]:
group_c_count = len(df[df['race/ethnicity'] == 'group C'])

print(group_c_count)

319

### Задача 6

Сколько разных этнических групп встречается в файле?

Ответ в виде целого числа.

In [8]:
unique_ethnic_groups = df['race/ethnicity'].nunique()

print(unique_ethnic_groups)

5

### Задача 7

Вычислите средний балл абитуриентов на экзамене по чтению (reading score).

Ответ в виде одного числа.

In [9]:
mean_reading_score = df['reading score'].mean()

print(mean_reading_score)

69.169

### Задача 8

Сколько абитуриентов получили на экзамене по чтению (reading score) оценку ниже среднего?

In [10]:
mean_reading_score = df['reading score'].mean()
below_average_reading_score = df[df['reading score'] < mean_reading_score]

num_students_below_average = below_average_reading_score.shape[0]

print(num_students_below_average)

487

### Задача 9

Какой средний балл на экзамене по чтению (reading score) получили девочки?

Ответ округлите до трёх знаков после запятой.

In [11]:
mean_reading_score_girls = df[df['gender'] == 'female']['reading score'].mean()

rounded_mean_reading_score_girls = round(mean_reading_score_girls, 3)

print(rounded_mean_reading_score_girls)

72.608

### Задача 10

Сколько абитуриентов получили на экзамене по письму (writing score) оценку выше 90?

In [12]:
writing_score_above_90 = df[df['writing score'] > 90]
number_of_students = writing_score_above_90.shape[0]

print(number_of_students)

68

### Задача 11

Сколько процентов абитуриентов, получивших на экзамене по письму (writing score) оценку более 90, хорошо пообедали перед экзаменом (lunch = standard)?

Ответ округлите до одного знака после запятой.

In [13]:
writing_score_above_90 = df[(df['writing score'] > 90) & (df['lunch'] == 'standard')]

percentage = len(writing_score_above_90) / len(df[df['writing score'] > 90]) * 100

print(round(percentage, 1))

86.8

### Задача 12

Сколько мальчиков хорошо пообедали перед экзаменом (lunch = standard)?

Ответ в виде одного числа.

In [14]:
good_lunch_boys = len(df[(df['gender'] == 'male') & (df['lunch'] == 'standard')])

print(good_lunch_boys)

316

### Задача 13

Сколько мальчиков закончили подготовительные курсы (test preparation course = completed)?

Ответ в виде одного числа.

In [15]:
completed_prep_courses_boys = len(df[(df['gender'] == 'male') & (df['test preparation course'] == 'completed')])

print(completed_prep_courses_boys)

174

### Задача 14

У скольких девочек родители имеют степень магистра (parental level of education = master's degree)?

Ответ в виде одного числа.

In [16]:
girls_with_masters_parents = len(df[(df['gender'] == 'female') & (df['parental level of education'] == "master's degree")])

print(girls_with_masters_parents)

36

### Задача 15

Сколько абитуриентов, относящихся к этнической группе С, закончили подготовительные курсы?

Ответ введите в виде одного числа.

In [17]:
group_c_prep = len(df[(df['race/ethnicity'] == 'group C') & (df['test preparation course'] == 'completed')])

print(group_c_prep)

117

### Задача 16

Сколько девочек, родители которых имеют степень магистра, набрали по математике больше 90 баллов?

Ответ введите в виде одного числа.

In [18]:
girls_master_90_math = len(df[(df['gender'] == 'female') & (df['parental level of education'] == "master's degree") & (df['math score'] > 90)])

print(girls_master_90_math)

2